.main
{
    width: 100%;
    height: 100%;
    display: flex;
}

.menuIcon
{
    position: absolute;
    display: flex;
    z-index: 1;
    /* padding-top: 5px; */
    margin-top: 10px;
}
.sidebar
{
    position: absolute;
    width: 40px;
    height: 609px;
    /* left: 0px; */
    /* top: 0px; */
    background: #393939;
    border-radius: 0px 0px 20px 0px;
}
.topPanel
{
    display :flex;
position: sticky;
/* width: 100%; */
height: 50px;
background: #393939;
border-radius: 0px 0px 20px 0px;
left: 40px;
}

.thirdEyeLogo
{
    display: flex;
    padding: 10px 20px 0 20px;
}

.eye-icon
{
    color: white;
    font-weight: lighter;
    font-style: normal;
    font-size: 21px;
}

.thirdEyeLabel
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 30px;
    margin-bottom: 10px;
}

.userMenuPanel
{
    width: 66%;
    display: flex;
    position: relative;
    justify-content: end;
    margin-top: 10px;
}

.pr-30
{
    margin-right: 30px;
}

.inputTextPanel
{
    position: absolute;
    width: 927px;
    height: 52px;
    left: 160px;
    display: flex;
    bottom: 10px;
    justify-content: center;
    background: #393939;
    padding: 10px 90px 0 10px;
    border-radius: 10px 20px 20px 10px;
}

.inputTextPanel input{
    font-size: 14px;
    padding: px;
    border: 1px solid #BDBDBD;
    border-radius: 10px 20px 20px 10px;
    width: 800px;
}

.inputTextPanel i{
    display: flex;
    justify-content: end;
    position: absolute;
    z-index: 1;
    right: 34px;
}

.chatContent
{
    display: flex;
    position: absolute;
    color: white;
    top: 80px;
}

.chatContent2
{
    display: flex;
    position: absolute;
    color: white;
    top: 180px;
}
.delphiMessage
{
    /* position: absolute; */
    display: inline-block;
    /* width: 927px; */
    /* height: 40px; */
    /* left: 52px; */
    /* top: -10px; */
    background: #393939;
    color:white;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px 0 10px;
    margin:7px 0px 7px 0px;
    /* float:left; */
}

.userMessage
{
    /* position: absolute; */
    display: inline-block;
    /* width: 741px; */
    /* height: 40px; */
    /* left: 482px; */
    /* top: 45px; */
    background: #7F39FB;
    color:white;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px 0 10px;
    margin:7px 0px 7px 0px;
    /* text-align:left; */
    /* float:right; */
}

.chatButton{
    display: flex;
    /* justify-content: end; */
    /* position: absolute; */
    z-index: 1;
    right: 34px;
}

.buttonDiv1{
    position:fixed;
   bottom:0;
   width:100%;
   height:60px;
  }